<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="font-weight-bold text-warning h3">Aplikacja do zarządzania zadaniami</div>
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
<!--                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
        <div class="uppermenu collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dodaj">Dodaj zadanie</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Listy zadań
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dozrobienia">Zadania do wykonania</a>
                        <a class="dropdown-item" href="/wszystkie">Wszystkie zadania</a>
                        <a class="dropdown-item" href="/zrobione">Zadania zrealizowanee</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="listOfTasks(tasks)">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Zrobione</th>
            <th scope="col">Początek</th>
            <th scope="col">Koniec</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t: ${tasks}" th:style="${t.getDeadline() < currentDate and t.taskDone == false} ? 'color: red' : (${t.taskDone == true} ? 'color: green' : 'color: black')">
            <td th:text="${t.id}">Id</td>
            <td th:text="${t.name}">Zadanie</td>
            <td th:text="${t.description}">Opis</td>
            <td th:text="${t.taskDone}?'tak':'nie'">Zrobione</td>
            <td th:text="${t.startDate}">Początek</td>
            <td th:text="${t.deadline}">Koniec</td>
            <td><a th:href="@{/edytuj/{id}(id=${t.id})}">Edytuj</a></td>
            <td><a th:href="@{/usun/{id}(id=${t.id})}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</html>